---
import CoreLayout from '../layouts/CoreLayout.astro';
import './item-layout.css';

const props =  { ...Astro.props.content, ...Astro.props.fileToDisplay } ;
---
<!-- Don't remove this style tag, otherwise item-layout.css
isn't properly loaded on build >:( for some reason... -->
<style></style>
<script hoist type="module">
  import '@divriots/rev/button/index.js';
</script>
<CoreLayout firstFileUrl={props.url}>
  <div class="wrapper">
    <img src={props.hero_image} alt="hero image of update" />
    <div class="content">

      <div class="content__container">
        <h2>{props.title}</h2>
        <slot />
      </div>
      <a class="content__cta" target="_blank" rel="noopener" href={props.cta.href}>
        <rev-button tab-index="-1">
          {props.cta.label}
        </rev-button>
      </a>
    </div>
  </div>
</CoreLayout>